.vscode/**
__pycache__/**
*/.thumbs/**
**/.thumbs/**
**/__pycache__/**
*.*.pyc
*/.DS_Store
*/.vscode/**
*/.idea/**
*/.git/**
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.gitkeep
*/.gitlab-ci.yml
*/.gitlab-ci.yml.example
**/outputs/*
**/.pytest_cache/**
outputs/*
*.svg
*.egg-info
.test_data

